.bodyContainer{
    width: 100%;
    height: 100vh;
    display: flex;
}

/* left section */
.left {
    width: 50%;
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #0D2C54;
}
.left h1 {
    padding: 2% 0;
    font-size: 5.3rem;
    line-height: 1.5rem;
}
.left p {
    padding: 4% 25%;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.5rem;
}


/* right section */

.right {
    width: 50%;
}
.rightContainer {
    width: 50%;
    height: 68vh;
    padding: 10%;
    margin: 5% 15% 10% 15%;
    border: 2px solid #0D2C54;
    border-radius: 3px;
}

/* the text before the form */
.formText {
    text-align: center;
    line-height: 40px;
}
.formText h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5%;
}
.formText button {
    width: 93%;
    margin: 2% 0;
    padding: 2.5% 0;
    font-weight: 500;
    font-family: 'Montserrat';
    cursor: pointer;
    border: 0.7px solid #0D2C54;
    border-radius: 3px;
    background: transparent;
    position: relative;
}
.formText button::before {
    content: url(../../assets/Google.svg);
    position: absolute;
    left: 24%;
    top: 17%;
    zoom: 90%;
}
.formText p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

/* form section */
.form {
    margin-left: 3%;
}
.form label {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 30px;
}
.form .input[type=text],
.form .input[type=password]
 {
    width: 90%;
    margin: 1% 0;
    padding: 0.5rem;
    border: 2px solid;
    border-radius: 3px;
}


/* remember me / forgot password */
.check {
    width: 95%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.check div {
    width: 34%;
    display: flex;
    justify-content: space-between;
}
.check p {
    font-size: 0.8rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    align-items: center;
    margin-top: 0.4rem;
    cursor: pointer;
}


.form button {
    width: 96%;
    cursor: pointer;
    padding: 0.4rem 0;
    margin-top: 7%;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #0D2C54;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

footer {
    font-size: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin: 5% 0;
}
footer span {
    color: #0D2C54;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}


/* error message */ 
.error {
    font-size: 0.7rem;
    color: red;
} 