.bodyContainer{
    width: 100%;
    height: 100vh;
    display: flex;
}

/* left section */
.left {
    width: 50%;
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #0D2C54;
}
.left h1 {
    font-size: 5.3rem;
    padding: 2% 0;
    line-height: 1.5rem;
}
.left p {
    font-size: 0.8rem;
    padding: 4% 25%;
    line-height: 1.5rem;
    font-weight: 500;
}


/* right section */

.right {
    width: 50%;
}
.rightContainer {
    width: 50%;
    height: 57vh;
    padding: 10%;
    margin: 10% 15%;
    border: 2px solid #0D2C54;
    border-radius: 3px;
}
.formText {
    text-align: center;
    line-height: 40px;
}
.formText h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5%;
}
.formText button {
    width: 80%;
    margin: 2% 0;
    padding: 2% 0;
    font-weight: 500;
    border: 0.7px solid #0D2C54;
    border-radius: 3px;
    background: transparent;
    position: relative;
}
.formText button::before {
    content: url(../../assets/Google.svg);
    position: absolute;
    left: 60px;
    top: 4px;
}